@layer base {
  html {
    @apply scroll-smooth;
  }

  .site {
    @apply flex flex-col min-h-screen;

    .site-main {
      @apply flex-grow;
    }
  }

  body:not(.mce-edit-area):not(.mce-content-body) {
    @apply bg-charcoal text-white bg-repeat bg-cover bg-center bg-fixed;
    background-image: url('../../media/images/bg-image.png');

    &.home {
      @apply bg-none;
    }
  }

  picture.lazyload-effect {
    img {
      @apply transition-opacity duration-500 ease-in-out;

      &.lazyload,
      &.lazyloading {
        @apply opacity-0;
      }

      &.lazyloaded {
        @apply opacity-100;
      }
    }
  }

  .full-image {
    @apply object-cover object-center w-full h-full;
    * {
      @apply object-cover object-center w-full h-full;
    }
  }

  img {
    @apply max-w-full;
  }

  svg {
    @apply w-full h-auto max-w-full;
  }

  pre {
    @apply p-2 text-gray-800 bg-gray-100 rounded-lg;
  }

  hr {
    @apply my-6;
  }

  [x-cloak] {
    @apply !hidden;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .sr-only {
    @apply p-2 text-white bg-black;
  }

  #menu-header .menu-item-has-children > a {
    @apply flex items-baseline gap-2;

    &:after {
      content: '';
      @apply block;
      @apply w-3 h-3 translate-y-1 transition-transform duration-200 bg-no-repeat bg-contain;
      background-image: url("data:image/svg+xml,%3Csvg width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1.5L6 6.5L11 1.5' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    }
  }
}
