@import 'tailwindcss';
@plugin "@tailwindcss/forms";

/* base */
@import './assets/styles/base/theme-variables';
@import './assets/styles/base/scaffolding';
@import './assets/styles/base/typography';
@import './assets/styles/base/fire-container';

/* components */
@import './assets/styles/components/buttons';
@import './assets/styles/components/forms';
@import './assets/styles/components/links';
@import './assets/styles/components/skip-to-main';
@import './assets/styles/components/map';
